@model IEnumerable<LearnCRUD1013.Models.dbCustomer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.f_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.f_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { f_Id=item.f_Id }) |
            @Html.ActionLink("Details", "Details", new { f_Id=item.f_Id }) |
            @Html.ActionLink("Delete", "Delete", new { f_Id=item.f_Id })
        </td>
    </tr>
}

</table>
